---
import MainLayout from '../layouts/MainLayout.astro';
import { Markdown } from 'astro/components';
import menu from '../datas/menu.json'
---

<MainLayout client:visible menu={menu} title="Add string for replace defaut meta" description="Add string for replace defaut meta"
    imageLink="Add string for replace defaut meta" twitterTitle="Add string for replace defaut meta"
    twitterDescription="Add string for replace defaut meta">

<div class="markdown-style">
    <Markdown>
        # ASTRO template
        ## By Corentin PERROUX
    
        My Github here : https://github.com/Corentin7301
    </Markdown>
</div>
</MainLayout>

<!-- lightbox  (add data-fslightbox in link balise) -->

<!-- <script src={Astro.resolve("/js/fslightbox.js")}></script> -->

<!-- ---------- -->

<!-- massonry grid  (add masonry-grid class on masonry container)  -->

<!-- <script src="https://unpkg.com/magic-grid/dist/magic-grid.min.js"></script> -->
<!-- <script>
    let masonryGrid = new MagicGrid({
        container: ".masonry-grid", // Required. Can be a class, id, or an HTMLElement.
        static: true, // Required for static content.
        gutter: 10, //Space between items. Default: 25(px).
        useMin: true, // Prioritize shorter columns when positioning items? Default: false.
    });

    masonryGrid.listen();
</script> -->
