---
import OtherLayout from '../layouts/otherLayout.astro';
import { Markdown } from 'astro/components';
const mentionsDatas = Astro.fetchContent('../pagesDatas/mentionsLegales.md')

---

<OtherLayout client:visible title="Mentions légales">
    <a href="/" class="header-mentions focus:outline-white">
        <img src={Astro.resolve("/assets/astro-logo.jpg")}
            alt="logo" class=" w-40 lg:w-56 lg:mt-10 rounded-md transition-all hover:opacity-75">
    </a>

    <div class=" markdown-style my-16">
        <Markdown content={mentionsDatas[0].astro.source} />
    </div>
</OtherLayout>

<style lang="scss">
    .markdown-style {
        @apply text-lightColor;
        h1 {
            @apply text-4xl font-bold mb-7;
        }

        h2 {
            @apply text-2xl font-bold mb-4 mt-10 text-persoMainColor;
        }

        h3 {
            @apply text-xl mb-4 mt-10 font-bold text-persoMainColor;
        }

        h4 {
            @apply text-lg mb-3 mt-10 text-persoMainColor;
        }

        a {
            @apply text-persoMainColor;
        }

        strong {
            @apply font-bold text-persoMainColor;
        }
    }
</style>