---
import OtherLayout from '../layouts/otherLayout.astro';
---

<OtherLayout client:visible title="Merci !">
    <div class=" h-screen flex flex-col justify-center items-center space-y-20">
        <div class="flex flex-col justify-center items-center space-y-7">
            <img src={Astro.resolve("/assets/thanks.svg")} alt="" class=" w-3/4">
            <p class=" text-lg text-persoMainColor font-bold">Je te réponds bientôt, promis !</p>
        </div>
        <a href="/" title="retour à la page d'accueil" class=" rounded-md py-1 px-3 flex items-center text-lg bg-persoMainColor border-2 border-transparent transition-all text-lightColor hover:text-persoMainColor hover:border-persoMainColor hover:bg-transparent focus:outline-white">Retour à la <img src={Astro.resolve("/assets/home.svg")} alt="retour à la page d'accueil" class=" w-6 ml-2"/></a>
    </div>
</OtherLayout>