<p class=" text-white text-[10px] lg:text-sm mt-4 tracking-widest normal-case text-right">© { new Date().getFullYear() }<a
            href={`https://portfolio.corentinperroux.fr`} target="_blank" class=" text-primaryColor hover:opacity-75 transition-all focus:outline-white"> Corentin PERROUX</a></p>