---
import informationsDatas from "../datas/informationDatas.json"
import Contact from "../components/Contact.vue"
---

<div class=" contact-header flex flex-col justify-center items-center bg-persoBlue w-20 h-32 space-y-3 mr-2 rounded-md shadow-xl">
    <a href={informationsDatas.instaUrl} target="_blank" class="focus:outline-white"><img src={Astro.resolve('/assets/instagram-icon.svg')}
            alt="instagram" class=" w-12 h-12 text-lightColor mt-[10px] mb-3 hover:opacity-75 transition-all"></a>
    <Contact client:visible />
</div>