---
const {menu, mainPhoto} = Astro.props;
import PhotosIcon from "../components/PhotosIcon.astro";
import PhotosMenu from "../components/PhotosMenu.astro";
---

<header class=" mb-24 lg:mb-0 max-w-7xl lg:max-w-none px-5 lg:px-0">
    <div class=" lg:max-w-full mx-auto flex justify-between items-top lg:items-center pt-9 lg:p-0">

        <PhotosIcon menu={menu} client:visible />
        <!-- mobile -->
        <img src={`https://res.cloudinary.com/sarah3902/image/upload/q_auto/f_auto/fl_lossy/ar_1:1,c_fill,g_face${mainPhoto}`}
            alt="Sarah LEROY" class=" lg:hidden max-w-[60%] rounded-md transition-all shadow-xl">
        
        <!-- desktop -->
        <img src={`https://res.cloudinary.com/sarah3902/image/upload/q_auto/f_auto/fl_lossy/ar_5:3,c_fill,g_face${mainPhoto}`}
            alt="Sarah LEROY" class=" hidden lg:block max-w-[60%] mt-5 mr-5 rounded-md transition-all shadow-xl">

    </div>
    <PhotosMenu menu={menu} client:visible data-rellax-speed="5" />
</header>

<!-- add rellax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.6.2/rellax.min.js"></script>
<script>
    var rellax = new Rellax('.rellax');
</script>